body {
    width: 68%;
    margin: auto;
    padding-top: 10px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

img {
    width: 100%;
}

img:-webkit-full-screen {
    width: initial;
}

@media (max-width: 1630px) {
    body {
        width: 85%;
    }
}

@media (max-width: 1340px) {
    body {
        width: 90%;
    }
}

@media (max-width: 960px) {
    body {
        width: 100%;
    }
}

span, div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

span:fullscreen, div:fullscreen {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.zoomable {
    padding: 0px;
}

.row {
    flex-direction: row;
}

.zoomable .show-on-hover {
    color: #ffffff00;
    width: fit-content;
    margin: auto;
    margin-top: -20px;
}

.zoomable:hover .show-on-hover {
    color: white;
    width: fit-content;
}



/*** SIDE TEXT ***/

.side-text {
    margin: auto;
    width: 45%;
}

.text-image .side-text {
    text-align: right;
}

.image-text .side-text {
    text-align: left;
}




/*** IMAGE-TEXT/TEXT-IMAGE VERTICAL ***/

.text-image .zoomable.VERTICAL, .image-text .zoomable.VERTICAL {
    width: 48%;
}



/*** IMAGE-TEXT/TEXT-IMAGE HORIZONTAL ***/

.text-image .zoomable.HORIZONTAL, .image-text .zoomable.HORIZONTAL {
    width: 70%;
}



/*** IMAGE-IMAGE ***/

.image-image.VERTICAL-HORIZONTAL .zoomable.VERTICAL, .image-image.HORIZONTAL-VERTICAL .zoomable.VERTICAL {
    width: 35.1%;
}

.image-image.VERTICAL-HORIZONTAL .zoomable.HORIZONTAL, .image-image.HORIZONTAL-VERTICAL .zoomable.HORIZONTAL {
    width: 61%;
}

.image-image.VERTICAL-VERTICAL .zoomable.VERTICAL {
    width: 48%
}

.image-image div.HORIZONTAL {
    width: 61%;
}

.image-image {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


/*** IMAGE-IMAGE-IMAGE ***/


.image-image-image .VERTICAL {
    width: 98%
}


/*** IMAGE ***/

.image {
    align-content: center;
    justify-content: center;
}

.image .zoomable.HORIZONTAL {
    width: 100%;
}

.image .zoomable.HORIZONTAL_WIDE {
    width: 100%;
}

.image.VERTICAL .zoomable {
    width: 48%
}



/*** VIDEO ***/

.video.row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*     margin-right: 20px;
    margin-left: 20px; */

}

iframe {
    width: 100%;
    aspect-ratio:16/9;
}



/*** --- ***/

p.caption {
    color: black;
    margin-top: 15px;
    margin-bottom: 0;
}

h1 {
    text-align: center;
}

h4 {
    margin-top: -20px;
    text-align: center;
}

.row p {
    text-align: center;
}

.row.paragraph p {
    margin: auto;
}

.header {
    flex-direction: column;
}

#fullscreen-container {
    justify-content: center;
    color: white;
}

#fullscreen-container:-webkit-full-screen {
    background: black;
}

#fullscreen-container p.caption {
    color: white;
    margin-top: 0px;
}

#fullscreen-container .show-on-hover {
    display: none;
}

#fullscreen-container .image .zoomable.HORIZONTAL:not(:has(.captioned)) {
    width: 85%;
}

#fullscreen-container .image .zoomable.HORIZONTAL:has(.captioned) {
    width: 75%;
}

#fullscreen-container .image-image.VERTICAL-VERTICAL .zoomable.VERTICAL {
    width: 42%;
}

#fullscreen-container .image-image {
    justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
    #fullscreen-container {
        font-size: 1.4em;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer p {
    flex: 1 1 100%;
}

.footer .previous {
    text-align: left;
}

.footer .index {
    text-align: center;
}

.footer .next {
    text-align: right;
}

button {
    background: gainsboro;
    border: none;
    border-radius: 100px;
    padding: 10px;
    width: fit-content;
}

#slideshow-button {
    margin-right: 5px;
}

#controls {
    justify-content: end;
    display: flex;
    flex-direction: row;
}

#help-dialog {
    display: none;
    z-index: 1;
    position: fixed;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 3px #666;
    width: 200px;
    background: white;
}