* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    width: 65%;
    margin: auto;
    padding-top: 10px;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.relative-wrapper {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    position: relative;
}

img:-webkit-full-screen {
    width: initial;
}

@media (min-resolution: 160dpi) and (orientation: portrait) {
    body {
      font-size: 200%;
    }
    button {
      font-size: 80%;
    }
    #fullscreen-container {
      font-size: initial;
    }
    .row {
        margin-top: 1em;
    }
}

@media (max-aspect-ratio: 17/9) {
    body {
        width: 60%;
    }
}

@media (max-aspect-ratio: 15/9) {
    body {
        width: 65%;
    }
}

@media (max-aspect-ratio: 14/9) {
    body {
        width: 70%;
    }
}

@media (max-aspect-ratio: 13/9) {
    body {
        width: 75%;
    }
}

@media (max-aspect-ratio: 12/9) {
    body {
        width: 80%;
    }
}

@media (max-aspect-ratio: 11/9) {
    body {
        width: 85%;
    }
}

@media (max-aspect-ratio: 10/9) {
    body {
        width: 90%;
    }
}

@media (orientation: portrait) {
    body {
        width: 95%;
    }
}


span, div {
    display: flex;
    flex-direction: column;
}

.row {
    flex-direction: row;
    margin-top: 2em;
}



.zoomable {
    padding: 0px;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
}

.show-on-hover {
    color: #ffffff00;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5em;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0.3em;
    width: 100%;
    transition: color .3s;
}

.show-on-hover p {
    margin: 0 auto;
}

.credit {
    background: black;
    color: white;
    position: absolute;
    bottom: 0.3em;
    right: 0;
    margin: 0;
    padding: 0px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    transition: background .3s, color .3s;
}

.zoomable:hover .show-on-hover {
    color: white;
    z-index: 1;
}

.zoomable:hover .credit {
    background: #00000000;
    color: #ffffff00;
}

.zoomable:hover .show-on-hover p {
    margin: 0 auto;
}


/*** SIDE TEXT ***/

.side-text {
    margin: auto;
    padding: 1em;
    width: 44%;
}

.text-image .side-text {
    text-align: right;
}

.image-text .side-text {
    text-align: left;
}




/*** IMAGE-TEXT/TEXT-IMAGE VERTICAL ***/

.text-image .zoomable.VERTICAL, .image-text .zoomable.VERTICAL {
    width: 48.7%;
}



/*** IMAGE-TEXT/TEXT-IMAGE HORIZONTAL ***/

.text-image .zoomable.HORIZONTAL, .image-text .zoomable.HORIZONTAL {
    width: 75.5%;
}



/*** IMAGE-IMAGE ***/

.image-image.VERTICAL-HORIZONTAL .zoomable.VERTICAL, .image-image.HORIZONTAL-VERTICAL .zoomable.VERTICAL {
    flex: 0 1 35.5%;
}

.image-image.VERTICAL-HORIZONTAL .zoomable.HORIZONTAL, .image-image.HORIZONTAL-VERTICAL .zoomable.HORIZONTAL {
    flex: 0 1 63%;
}

.image-image.VERTICAL-VERTICAL .zoomable, .image-image.HORIZONTAL-HORIZONTAL .zoomable {
    max-width: 48.7%;
}

.image-image {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


/*** IMAGE ***/

.image {
    align-content: center;
    justify-content: center;
}

.image .zoomable.HORIZONTAL {
    width: 100%;
}

.image .zoomable.HORIZONTAL_WIDE {
    width: 100%;
}

.image.VERTICAL .zoomable {
    width: 48%
}



/*** VIDEO ***/

.video.row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    aspect-ratio:16/9;
}



/*** --- ***/

p.caption {
    color: black;
    margin-top: .2em;
}

h1 {
    text-align: center;
}

h4 {
    margin-top: -20px;
    text-align: center;
}

.row p {
    text-align: center;
}

.row.paragraph p {
    margin: auto;
}

.header {
    flex-direction: column;
}

#fullscreen-container {
    justify-content: center;
    color: white;
}

#fullscreen-container .row {
    margin: 0px;
}

#fullscreen-container:-webkit-full-screen {
    background: black;
}

#fullscreen-container p.caption {
    color: white;
    margin-top: .5em;
    flex: 0 1 auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#fullscreen-container .show-on-hover {
    display: none;
}

#fullscreen-container .image-image {
    justify-content: space-evenly;
}

#fullscreen-container .image-image.VERTICAL-VERTICAL .zoomable.VERTICAL {
    max-width: 45%;
}

#fullscreen-container .paragraph {
    padding-right: 1em;
    padding-left: 1em;
}

@media screen and (min-width: 900px) and (max-resolution: 200dpi) {
    #fullscreen-container {
        font-size: 1.4em;
        padding: 0px;
        margin: 0px;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#fullscreen-container .footer {
    margin: 0 15%;
}

.footer p {
    flex: 1 1 100%;
}

.footer .previous {
    text-align: left;
}

.footer .index {
    text-align: center;
}

.footer .next {
    text-align: right;
}

button {
    background: gainsboro;
    border: none;
    border-radius: 100px;
    padding: 10px;
    width: fit-content;
}

#slideshow-button {
    margin-right: 5px;
}

#controls {
    justify-content: end;
    display: flex;
    flex-direction: row;
}

#help-dialog {
    display: none;
    z-index: 1;
    position: fixed;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 3px #666;
    width: 16em;
    background: white;
    padding: 1.3em;
}

.image-image-image .zoomable {
    max-width: 33%;
    flex: 1 1 0%;
}

.image-image-image {
    justify-content: space-between;
}