body {
    width: 80%;
    margin: auto;
}

span, div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

img {
    width: 100%;
}

.row {
    flex-direction: row;
}

.zoomable p {
    color: #ffffff00;
    width: fit-content;
    margin: auto;
    margin-top: -20px;
}

.zoomable:hover p {
    color: white;
    width: fit-content;

}

.side-text {
    width: 100%;
    margin: auto;
}

.text-image .side-text {
    text-align: right;
}

.image-text .side-text {
    text-align: left;
}

.row .caption {
    margin: auto;
    margin-top: -35px;
}

.image-image div.VERTICAL {
    width: 230%;
}

/* .text-image.row p {
    width: 40%;
} */

/* .text-image.row img.HORIZONTAL {
    width: 60%;
}
 */
/*
.text-image.row div {
    width: 100%
}

.text-image.row img {
    width: 40%;
}





.image-image.row img.VERTICAL {
    width: 80%;
}

.image-video.row img.HORIZONTAL {
    width: 60.5%;
}

.image-image.row div {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.image-video.row div {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.image-video.row div .caption {
    margin-top: 5px;
    width: 100%;
    color: black;
}

.image-image.row div .HORIZONTAL.captioned {
    width: 100%;
}

.image-image.row div .caption {
    margin-top: -5px;
    width: 100%;
    color: black;
}

.image-image.row img.HORIZONTAL {
    width: 60.5%;
}

.image-image.row picture>img.HORIZONTAL {
    display: block;
    margin: auto;
}

.image-image.row img.HORIZONTALh {
    width: 95%;
}


.image-image-image img {
    width: 90%;
}

.image-image-image img.HORIZONTAL {
    width: 56%;
}

.video-text.row iframe {
    margin-right: 10px;
}


.row-element {
    margin: 10px;
}

.caption {
    margin-top: -20px;
    text-align: center;
    width: 50%;
    color: black;
}

h4 {
    margin-top: -20px;
}

p {
    font-family: Garamond, Georgia, Times New Roman;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

#small1 {
    width: 31.5%;
}

#index {
    width: 40%;
    margin: auto;
}

#animation {
    display: block;
    margin: auto;
} */